__pycache__/
*.pyc

# Python virtual environment
venv/
.env/

# YOLO model
*.pt

# YOLO training results
runs/

# Dataset
dataset/raw/
dataset/images/
dataset/labels/

# Logs
logs/

# VS Code
.vscode/

# PyCharm
.idea/